[global]
domainNumber                            24
clockClass                              255
clockAccuracy                           0xFE
clientOnly                               1
twoStepFlag                             1
serverOnly                              0
inhibit_multicast_service       0
unicast_listen                          0
announceReceiptTimeout          3
logAnnounceInterval             1
logSyncInterval                 -4
logMinDelayReqInterval          -4
first_step_threshold            0.00002
summary_interval                                -4
step_threshold                  0
clock_servo                     pi
#pi_proportional_scale                  0.5
#pi_proportional_exponent               -0.3
#pi_integral_exponent                   0.3
pi_proportional_const                   0.0
pi_integral_const                       0.0
pi_proportional_scale                   0.0
pi_proportional_exponent        -0.3
pi_proportional_norm_max        0.7
pi_integral_scale                       0.0
pi_integral_exponent                    0.2
pi_integral_norm_max                    0.3
write_phase_mode                1
servo_offset_threshold          10
servo_num_offset_values         500
tsproc_mode                     raw
delay_filter                    moving_median
delay_filter_length             16
sanity_freq_limit               0
tx_timestamp_timeout            100
assume_two_step                 0
free_running                                    1
slave_event_monitor                     /var/run/pcm4l
uds_address                                     /var/run/ptp4l